
/* en_IN-secure-sprites-payselectSprites-691077317.css start */

.payselectButtonsSprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url('https://images-eu.ssl-images-amazon.com/images/G/31/common/sprites/payselect-buttons-sprites._V_.') no-repeat; }
.payselectButtonsSprite span { position: absolute; left: -9999px; }
.payOptionsSprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url('https://images-eu.ssl-images-amazon.com/images/G/31/common/sprites/pay-options-sprites._V_.') no-repeat; }
.payOptionsSprite span { position: absolute; left: -9999px; }

/* en_IN-secure-sprites-payselectSprites-691077317.css end */

/* en_IN-secure-sprites-spcSprites-2892584377.css start */

.spcSprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url('https://images-eu.ssl-images-amazon.com/images/G/31/common/sprites/spc-sprites._V_.') no-repeat; }
.spcSprite span { position: absolute; left: -9999px; }

/* en_IN-secure-sprites-spcSprites-2892584377.css end */

/* en_IN-secure-sprites-pipelineSprites-313760544.css start */

.creditCardsSprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url('https://images-eu.ssl-images-amazon.com/images/G/31/common/sprites/credit-cards-sprites._V_.') no-repeat; }
.creditCardsSprite span { position: absolute; left: -9999px; }

/* en_IN-secure-sprites-pipelineSprites-313760544.css end */
